<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registro</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<h1>Registro</h1>
	<form method='POST'>
		<p>
			<label> Nombre: </label>
			<input type='text' name='name_user'>
		</p>
		<p>
			<label> Apellido: </label>
			<input type='text' name='surname_user'>	
		</p>
		<p>
			<label> Email: </label>
			<input type='email' name='email_user'>
		</p>
		<p>
			<label> Contraseña: </label>
			<input type='password' name='password_user'>
		</p>
		<p>
			<label> Repetir contraseña: </label>
			<input type='password' name='password2_user'>
		</p>
		<p>
			<label> Avatar: </label>
			<input type='file' name='avatar_user'>
		</p>
		<br>
		<button type="submit">Registrarse</button>
	</form>
</body>
</html>